.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .smallCard {
    display: flex;
    flex-direction: column;
    background-image: url("./PokemonCard.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
    }
    .smallCardName {
      font-size: 20px;
      font-weight: bold;
    }
    img {
      height: 140px;
      width: 235px;
      object-fit: contain;
    }
    .type {
      align-self: center;
      width: 150px;
      color: black;
      border: 1px solid black;
    }
  }
}
