.App-header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(240, 240, 240);
}

.NavBar {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  .pageTitle {
    width: 50%;
    background-color: blue;
    text-align: end;
  }
  .navBtn {
    width: 50%;
    background-color: red;
    justify-items: center;
    button {
      cursor: pointer;
    }
    input,
    button {
      height: 30px;
      border-radius: 5px;
      border: none;
    }
  }
}

.bigCard {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50vw;
  background-color: rgb(26, 25, 25);
  text-transform: capitalize;
  .details {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid yellow;
    width: 90%;
    margin-bottom: 20px;
    .smallDetails {
      img {
        height: 250px;
        width: 240px;
      }
    }
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .smallCard {
    display: flex;
    flex-direction: column;
    background-image: url("./PokemonCard.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
    }
    .smallCardName {
      font-size: 20px;
      font-weight: bold;
    }
    img {
      height: 140px;
      width: 235px;
      object-fit: contain;
    }
    .type {
      align-self: center;
      width: 150px;
      color: black;
      border: 1px solid black;
    }
  }
}
