.App-header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(240, 240, 240);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .bigCard {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 50vh;
    width: 50vw;
    background-color: yellow;
  }
  .smallCard {
    display: flex;
    flex-direction: column;
    background-image: url("./PokemonCard.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
    }
    .smallCardName {
      font-size: 20px;
      font-weight: bold;
    }
    img {
      height: 140px;
      width: 235px;
      object-fit: contain;
    }
    .type {
      align-self: center;
      width: 150px;
      color: black;
      border: 1px solid black;
    }
  }
}
