.App-header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(240, 240, 240);
}

.NavBar {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  .pageTitle {
    width: 50vw;
    text-align: center;
  }
  .dropdown-Option {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: rgb(26, 25, 25);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a {
      display: block;
      cursor: pointer;
    }
  }
  .show {
    display: block;
  }
  .navBtn {
    display: flex;
    width: 30vw;
    background-color: red;
    justify-content: center;
    align-content: center;
    button {
      cursor: pointer;
    }
    input,
    button {
      height: 30px;
      border-radius: 5px;
      border: none;
      margin: 10px;
    }
  }
}

.bigCard {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50vw;
  border-radius: 10px;
  border: 5px solid rgba(26, 25, 25, 0.5);
  text-transform: capitalize;
  span {
    position: absolute;
    z-index: 3;
    align-self: flex-end;
    right: 8px;
    top: 5px;
    cursor: pointer;
    background-color: rgba(26, 25, 25, 0.5);
    border-radius: 3px;
    padding: 2px;
  }
  h1,
  p {
    margin: 5px 0px;
  }
  .details {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    .smallDetails {
      img {
        height: 270px;
        width: 260px;
      }
    }
    .stats {
      .statsBar {
        width: 200px;
        height: 10px;
        background-color: #ddd;
      }
      .statsPercentage {
        height: 10px;
        text-align: right;
      }
    }
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .smallCard {
    display: flex;
    flex-direction: column;
    background-image: url("./PokemonCard.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 18px;
    margin: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
    }
    .smallCardName {
      font-size: 20px;
      font-weight: bold;
    }
    img {
      height: 140px;
      width: 235px;
      object-fit: contain;
    }
    .type {
      align-self: center;
      width: 150px;
      color: black;
      border: 1px solid black;
    }
  }
}
