.App-header {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f0f0f0;
}

.NavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.NavBar .pageTitle {
  width: 50vw;
  text-align: center;
}

.NavBar .dropdown-Option {
  display: none;
  position: absolute;
  min-width: 140px;
  background-color: cornflowerblue;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -5px;
  margin-left: -10px;
  border-radius: 5px;
}

.NavBar .dropdown-Option a {
  display: block;
  text-align: center;
  cursor: pointer;
}

.NavBar .dropdown-Option a:hover {
  background-color: #1a1919;
}

.NavBar .show {
  display: block;
}

.NavBar .navBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.NavBar .navBtn button {
  cursor: pointer;
}

.NavBar .navBtn .searchOptions {
  background: url("./searchIcon.png");
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: cornflowerblue;
}

.NavBar .navBtn .prevBtn {
  background: url("./previousIcon.png");
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: cornflowerblue;
}

.NavBar .navBtn .nextBtn {
  background: url("./nextIcon.png");
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: cornflowerblue;
}

.NavBar .navBtn input,
.NavBar .navBtn button {
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.bigCard {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 50vw;
  border-radius: 10px;
  border: 5px solid rgba(26, 25, 25, 0.5);
  text-transform: capitalize;
}

.bigCard span {
  position: absolute;
  z-index: 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  right: 8px;
  top: 5px;
  cursor: pointer;
  background-color: rgba(26, 25, 25, 0.5);
  border-radius: 3px;
  padding: 2px;
}

.bigCard h1,
.bigCard p {
  margin: 5px 0px;
}

.bigCard .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
}

.bigCard .details .smallDetails img {
  height: 270px;
  width: 260px;
}

.bigCard .details .stats .statsBar {
  width: 200px;
  height: 10px;
  background-color: #ddd;
}

.bigCard .details .stats .statsPercentage {
  height: 10px;
  text-align: right;
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardContainer .smallCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("./PokemonCard.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 18px;
  margin: 20px;
  text-transform: capitalize;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.cardContainer .smallCard:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.cardContainer .smallCard .smallCardName {
  font-size: 20px;
  font-weight: bold;
}

.cardContainer .smallCard img {
  height: 140px;
  width: 235px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cardContainer .smallCard .type {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 150px;
  color: black;
  border: 1px solid black;
}
/*# sourceMappingURL=style.css.map */